@model WebApplication1.Models.Notification

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is a test to deploy ASP.NET Core web app in GBP kubernetes cluster version 3</a>.</p>
        <p>@ViewData["Message"]</p>*@

    <form method="post">

        <p>@ViewData["ApiMessage"]</p>

        @*<div style="display: flex; margin-bottom: 20px;
        ">
                    <span style="margin-right: 10px;" >Select Type    :  </span>

                    @Html.DropDownList("Type", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="Order", Value = "Order" },
                        new SelectListItem{ Text="Options", Value = "Options" }
                     })
                </div>*@

        <br />

        <span style="margin-right: 100px;">RFQ Alert</span>

        <table style="border-collapse: separate; border-spacing: 0 1em;">
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Trader"></label></td>
                <td><input style="width: 200px;" asp-for="Trader" class="form-control" /></td>
            </tr>
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Sales"></label></td>
                <td><input style="width: 200px;" asp-for="Sales" class="form-control" /></td>
            </tr>
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Isin"></label></td>
                <td><input style="width: 200px;" asp-for="Isin" class="form-control" /></td>
            </tr>
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Counterparty"></label></td>
                <td><input style="width: 200px;" asp-for="Counterparty" class="form-control" /></td>
            </tr>
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Quote"></label></td>
                <td>@Html.EditorFor(model => model.Quote, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0" } })</td>
            </tr>
            <tr style="text-align: left;">
                <td><label style="margin-right: 100px;" asp-for="Yield"></label></td>
                <td>@Html.EditorFor(model => model.Yield, new { htmlAttributes = new { @type = "number", @min = "0", @step = "0.01", @value = "0" } })</td>
            </tr>
        </table>

        <br />
        <div style="display: flex;">
            <button asp-route="Custom">Publish to Pub Sub</button>
        </div>

        <div>
            <br />
            <p>@ViewData["Message"]</p>
        </div>
    </form>
</div>
